# Library required:

1. requests  # for retrive information from website
2. BeautifulSoup

# Installation:
pip install requests

pip install bs4

# 关系型数据库

## MySQL 基本操作：

### 连接数据库： 
mysql -u root -p #u: user name # p: password;
------------------------------------------------------------
### insert into table class:
insert into class (name)
values('高一二班')
OR:
insert into class (id,name)
values(2,'高一二班')

### modify data in the table:
update class set name = "gaoyisanban" where id = 2

### delete data from the table:[id will continue accumulate]
delete from class where id = 2

------------------------------------------------------------
### create database:
create databse NAME

### 指定字符集和校对及，创建数据库：
create database Examination default charset utf8mb4 collate utf8mb4_general_ci;

### delete databse:
drop database NAME

### create a table, named class, contain "id" & "name":
CREATE TABLE class(
	ID int(11) unsigned not null auto_increment, 
	Name varchar(80) not null,
	primary key(id)
);

-----------------------------------------------------------
### 查看数据库：
show database_name;

### choose 数据库：
use database_name;

### check tables in the databse:
show table;

### see the structure of the table:
desc tables;

### see the data in the table:
select * from table_name;

### see the data in the table with limit:
select * from table_name limit 10;


# 非关系型数据库：
- Mongodb
- redis

# Python 操作数据库

In [83]:
import pymysql

In [84]:
#Connect to database
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')

In [ ]:
#Cursor
cursor=db.cursor()

In [92]:
# create database 
# https://www.runoob.com/python3/python3-mysql.html
import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
 
# 使用预处理语句创建表
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
 
cursor.execute(sql)
 
# 关闭数据库连接
db.close()

C:\Users\yanbi\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1051, "Unknown table 'examination.employee'")
  result = self._query(query)

In [94]:
# insert data to database 
# https://www.runoob.com/python3/python3-mysql.html

import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')
 
# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 插入语句
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   # 执行sql语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 如果发生错误则回滚
   db.rollback()
 
# 关闭数据库连接
db.close()

In [95]:
# query data to database 
# https://www.runoob.com/python3/python3-mysql.html

import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')
 
# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 查询语句
sql = "SELECT * FROM EMPLOYEE \
       WHERE INCOME > %s" % (1000)
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 获取所有记录列表
   results = cursor.fetchall()
   for row in results:
      fname = row[0]
      lname = row[1]
      age = row[2]
      sex = row[3]
      income = row[4]
       # 打印结果
      print ("fname=%s,lname=%s,age=%s,sex=%s,income=%s" % \
             (fname, lname, age, sex, income ))
except:
   print ("Error: unable to fetch data")
 
# 关闭数据库连接
db.close()

fname=Mac,lname=Mohan,age=20,sex=M,income=2000.0

In [96]:
# update data to database 
# https://www.runoob.com/python3/python3-mysql.html
import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')

# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 更新语句
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()
 
# 关闭数据库连接
db.close()

In [97]:
# delete data to database 
# https://www.runoob.com/python3/python3-mysql.html

import pymysql
 
# 打开数据库连接
db = pymysql.connect(host='localhost', user='root',password='ybt930426',database='examination',charset='utf8mb4')
 
# 使用cursor()方法获取操作游标 
cursor = db.cursor()
 
# SQL 删除语句
sql = "DELETE FROM EMPLOYEE WHERE AGE > %s" % (20)
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交修改
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()
 
# 关闭连接
db.close()

# json

In [5]:
#json

import json
data1='{"a":1, "b":2, "c":3}'
j_data=json.loads(data1)
type(j_data)  # return "dict"
j_data

{'a': 1, 'b': 2, 'c': 3}

# Python crawler

In [6]:
import requests
from bs4 import BeautifulSoup

In [7]:
def get_page(url):
    responce = requests.get(url)
    soup = BeautifulSoup(responce.text, 'lxml')
    return soup

In [8]:
def get_links(link_url):
    soup = get_page(link_url)
    # find the elements we want based on soup
    links_div = soup.find_all('div', class_="content__list--item--main")
    links = [link_url[0:22] + div.a.get('href') for div in links_div]
    return links

In [9]:
# test
url = 'https://bj.lianjia.com/zufang/'
get_links(url)

['https://bj.lianjia.com/zufang/BJ2549081322589265920.html',
 'https://bj.lianjia.com/zufang/BJ2547093685166940160.html',
 'https://bj.lianjia.com/zufang/BJ2548421843480477696.html',
 'https://bj.lianjia.com/zufang/BJ2548312076959891456.html',
 'https://bj.lianjia.com/zufang/BJ2549187822695759872.html',
 'https://bj.lianjia.com/zufang/BJ2548333786534789120.html',
 'https://bj.lianjia.com/zufang/BJ2549162494677753856.html',
 'https://bj.lianjia.com/zufang/BJ2547642562332860416.html',
 'https://bj.lianjia.com/zufang/BJ2548313019755544576.html',
 'https://bj.lianjia.com/zufang/BJ2549158218467115008.html',
 'https://bj.lianjia.com/zufang/BJ2547873564372516864.html',
 'https://bj.lianjia.com/zufang/BJ2548351695692234752.html',
 'https://bj.lianjia.com/zufang/BJ2547636078727135232.html',
 'https://bj.lianjia.com/zufang/BJ2547622341627101184.html',
 'https://bj.lianjia.com/zufang/BJ2548353114969481216.html',
 'https://bj.lianjia.com/zufang/BJ2547780482918260736.html',
 'https://bj.lianjia.com/zufang/BJ2549211590901899264.html',
 'https://bj.lianjia.com/zufang/BJ2548358167461363712.html',
 'https://bj.lianjia.com/zufang/BJ2547609541424988160.html',
 'https://bj.lianjia.com/zufang/BJ2548488159973613568.html',
 'https://bj.lianjia.com/zufang/BJ2544840473743196160.html',
 'https://bj.lianjia.com/zufang/BJ2544803803035598848.html',
 'https://bj.lianjia.com/zufang/BJ2544939353931784192.html',
 'https://bj.lianjia.com/zufang/BJ2545440756525973504.html',
 'https://bj.lianjia.com/zufang/BJ2547634269203996672.html',
 'https://bj.lianjia.com/zufang/BJ2548524375347298304.html',
 'https://bj.lianjia.com/zufang/BJ2549115793392533504.html',
 'https://bj.lianjia.com/zufang/BJ2549062528332472320.html',
 'https://bj.lianjia.com/zufang/BJ2534683238711173120.html',
 'https://bj.lianjia.com/zufang/BJ2539301805947355136.html']

In [48]:
def get_house_info(house_url):
    soup = get_page(house_url)
    price = soup.find('div', class_='content__aside--title').find('span').text
    unit = soup.find('div', class_='content__aside--title').text[len(price)+1:len(price)+4]
    house_info=soup.find_all('li', class_="fl oneline")
    house_info=soup.find_all('li', class_="fl oneline")
    area=house_info[1].text[3:]
    info = {
        'Price': price,
        'Unit': unit,
        'Area': area
    }
    return info

def saveData(datalist):
    print("save...")
    data = []
    for k in range(0, len(datalist)):
        data.append(datalist[k])
        
    data=currentRow.split(",")
    df = pd.DataFrame(
        {'Price': data[0], 'Unit': data[1], 'Area': data[2]})
    df.to_csv('House.csv', index=False, sep=',')

In [50]:
# test
url="https://bj.lianjia.com/zufang/BJ2549081322589265920.html"

len(get_house_info(url))

3

In [ ]:
# put all together

links = get_links ('https://bj.lianjia.com/zufang/')
for link in links:
    time.sleep(2)
    house = get_house_info(link)
    print(house, end='\r')
    # inside to database